<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [3]:
x = 3 + 2 * 2
x

7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [25]:
y = (3 + 2) * 2
y

10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [20]:
z = x + y
z

17

What is the value of the variable <code>A</code> after the following code is executed?

In [54]:
# Write your code below and press Shift+Enter to execute 

A = "1"
A

'1'

What is the value of the variable <code>B</code> after the following code is executed?

In [53]:
# Write your code below and press Shift+Enter to execute

B = "2"
B

'2'

What is the value of the variable <code>C</code> after the following code is  executed?

In [21]:
# Write your code below and press Shift+Enter to execute 

C = A + B
C

'12'

Consider the variable <code>D</code> use slicing to print out the first three elements:

In [39]:
# Write your code below and press Shift+Enter to execute

D = "ABCDEFG"
print (D[0:3])

ABC

Use a stride value of 2 to print out every second character of the string E:

In [50]:
# Write your code below and press Shift+Enter to execute

E = 'clocrkr1e1c1t'
print (E[::2])

correct

Print out a backslash:

In [48]:
print ("\\") # or print(r"\ ")

\

Convert the variable F to uppercase:

In [55]:
# Write your code below and press Shift+Enter to execute

F = "You are wrong"
F = F.upper ()
print (F)

YOU ARE WRONG

Consider the variable G, and find the first index of the sub-string snow:

In [58]:
# Write your code below and press Shift+Enter to execute

G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G.find('snow')

95

In the variable G, replace the sub-string Mary with Bob:

In [69]:
G = G.replace('Mary', 'Bob')
G

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [74]:
a_list = [1, 'hello', [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

Given the following dictionary answer the questions:

In [75]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'Saturday Night Fever': '1977', 'The Bodyguard': '1992'}

a) In the dictionary soundtrack_dict what are the keys ?

Keys are soundtrack title and soundtrack year.

b) In the dictionary soundtrack_dict what are the values ?

Values are the answers, such as The Bodyguard (title) and 1992 (year), etc.

In [80]:
thisdict =	{
  "album": "The Bodyguard",
  "year": 1992
}
print(thisdict) # for example

{'album': 'The Bodyguard', 'year': 1992}